
<button class="pagenumbers pag-left  js-move-left"></button>
<span class="nb pagenumbers js-page-number pag-numb js-current-number-page_Btn first" id="pag1">1</span>
<span class="pagenumbers js-page-number three-dots prev-part-page is-hidden" id="pag8"></span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag2">2</span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag3">3</span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag4">4</span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag5">5</span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag6">6</span>
<span class="nb pagenumbers js-page-number pag-numb change" id="pag7">7</span>
<span class="pagenumbers js-page-number three-dots next-part-page" id="pag8"></span>
<span class="nb pagenumbers js-page-number pag-numb" id="pag9">1000</span>
<button class="pagenumbers pag-right js-move-right" id="right-page"></buttona>

