// Палітра
// Текст
// колір основного тексту чорний: #000000
// колір основного тексту білий: #FFFFFF
// колір тексту характеристики: #8C8C8C
// Фон
// колір фону: #FF6B01
// Кнопки
// колір активної кнопки: #FF6B01

// Текст
$white-color: #ffffff;
$dark-color: #000000;
$active-color: #ff6b01;
$grey-color: #8c8c8c;

// Фон
$bkg-btn-color: #ff6b01;

$light-color: #ffffff;
$bkg-lite-color: #f5f4fa;
$bkg-card-color: rgba(47, 48, 58, 0.8);
$box-shadow-dark: rgba(0, 0, 0, 0.15);
